@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
    }

    nav {
        display: flex; /* Show navigation */
        flex-direction: row;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }

    nav a {
        display: grid;
        grid-template-columns: 2fr 12fr;
        padding: 10px 15px;
        place-items: center;
    }

    #menu-toggle {
        display: none; /* Hide hamburger menu on larger screens */
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}